@model IEnumerable<Item>;
@{
    ViewData["Title"] = "Index";
}

<div "class=container p-3">
    <div class="row pt-4">
        <div class="cl-6">
        <h2 class="text-primary text-center">Item List</h2>
        </div>
        <div class="cl-6" >
            <a asp-controller="Item" asp-action="Create" class="btn btn-primary">
                Add new item
            </a>
        </div>
    </div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th width="20%">
                Item name
            </th>
            <th>
                Description
            </th>
             <th></th>
             <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td width="20%">
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @*<div class="w-75 btn-group" role="group">
                        <a asp-controller="Item" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
                    </div>*@
                </td>
                <td>
                     <div class="w-75" role="group">
                            <a asp-controller="Item" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                    </div>
                </td>
            </tr>
            }
    </tbody>
</table>



</div>
